// HTML5 ✰ Boilerplate
// split: https://github.com/darktable/html5-boilerplate/commit/b125225228a42a046930dc8c7e1861ef3b8acc14 
@import "partials/normalize";
@import "partials/solarized";
@import "partials/primary";

/////

body {
	>header {
		height:	162px;
				
		background-color:	black;
		border:	1px solid	transparent;
	}
}

/////

@import "partials/helpers";
@import "partials/responsive";
@import "partials/print";