// http://jqueryui.com/themeroller/#ffDefault=Helvetica%2C+Arial%2C+sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=222222&bgTextureHeader=23_fine_grain.png&bgImgOpacityHeader=44&borderColorHeader=333333&fcHeader=ebebeb&iconColorHeader=ebebeb&bgColorContent=222222&bgTextureContent=01_flat.png&bgImgOpacityContent=25&borderColorContent=555555&fcContent=ebebeb&iconColorContent=268bd2&bgColorDefault=222222&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=35&borderColorDefault=444444&fcDefault=e7e7e9&iconColorDefault=cccccc&bgColorHover=222222&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=33&borderColorHover=268bd2&fcHover=ebebeb&iconColorHover=ebebeb&bgColorActive=222222&bgTextureActive=23_fine_grain.png&bgImgOpacityActive=20&borderColorActive=268bd2&fcActive=ffffff&iconColorActive=268bd2&bgColorHighlight=ebebeb&bgTextureHighlight=11_white_lines.png&bgImgOpacityHighlight=80&borderColorHighlight=268bd2&fcHighlight=268bd2&iconColorHighlight=268bd2&bgColorError=d33682&bgTextureError=11_white_lines.png&bgImgOpacityError=40&borderColorError=268bd2&fcError=ffffff&iconColorError=ffffff&bgColorOverlay=222222&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=50&opacityOverlay=80&bgColorShadow=cccccc&bgTextureShadow=01_flat.png&bgImgOpacityShadow=30&opacityShadow=60&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=8px


@import "compass/css3";

$mercury:	rgb(235,235,235);

@import "partials/solarized";

// split: https://github.com/darktable/html5-boilerplate/commit/b125225228a42a046930dc8c7e1861ef3b8acc14 
@import "partials/normalize";
@import "partials/isotope";
@import "partials/primary";

///


$headerHeight:	62px;

body {	
	>header {
		@include single-box-shadow; 		
		
		position:	fixed;
		z-index:	1024;
		
		height:		$headerHeight;
		width:		100%;
		
		padding:	0;// 22px;
				
		background-color:	rgba(0, 0, 0, .9);
		border:	1px solid	transparent;
		
		h1 {
			position:	absolute;
			top:	0;
			left:	22px;
			font-weight:	normal;
			color:			$mercury;
		}
		
		#radio {
			position:	absolute;
			top:	15px;
			right:	22px;//60px;
			font-size:	12px;
			.ui-button-text {
				color:	$mercury;
			}
			.ui-state-active .ui-button-text {
				color:	white;
			}
		}
	}
	>footer {
		position:	fixed;
		right:	0;
		bottom:	0;
		a {
			display:	block;
			//float: 		right;
			font-size:	10px;
			color:		white;
			text-decoration:	none;
			padding: 0 20px;
			opacity:	.5;
			&:hover, &:visited:hover {
				color:	$blue;
				opacity:	1;
			}
			&:visited {
				color:		white;
			}
		}
	}
}

#page {
	padding-top: $headerHeight;
}

.visual_search {
	margin:	20px;
}

#deck {
	margin:	16px 16px 0 16px;
	
	> div.panel {
		
		width: 210px;
		height: 210px;
		margin: 5px;
		float: left;
		position: relative;
		
		>* {
			position: absolute;
			margin: 0;
		}
		
		article {
			padding:	5px;
			width:		100%;
			h1 {
				margin:		0;
				padding:	0;
				font-size:	16px;
				font-weight:	normal;
				font-family:	Georgia, 'Times New Roman', serif;
			}
		}
	}
}

///// http://css3playground.com/flip-card.php

html.noScroll {
	.panel {
		-webkit-perspective: none !important;
	}
	.panel .front {
		display:	block;
		-webkit-transform: none !important;
		-webkit-transform-style: flat !important;
		-webkit-backface-visibility: visible;
		-webkit-transition: none !important;
	}
	.panel.flip .front {
		display:	none;
		-webkit-transform: none !important;
	}
	.panel .back {
		display:	none;
		-webkit-transform: none !important;
		-webkit-transform-style: flat !important;
		-webkit-backface-visibility: visible;
		-webkit-transition: none !important;
	}
	.panel.flip .back {
		display:	block;
		-webkit-transform: none !important;
	}
}

.panel {
	-webkit-perspective: 600;
	.card {
		width: inherit;
		//height: inherit;
		height: 190px;
		//min-height:	200px;
	}
	.meta {
		bottom:	0;
		right:	10px;
	}
}

.panel .front {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 900;
			width: inherit;
			height: inherit;
			border: 1px solid #ccc;
			background: white;
			//text-align: center;

	

			-webkit-transform: rotateY(0deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			
			transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			
			>img {
				width:	100%;
			}
			
			>h1 {
				margin:		5px;
				padding:	0;
				font-size:	14px;
				line-height:	1.2em;
				//height:			2.4em;
				//max-height:		2.4em;
				//width:			100%;
				//overflow-y:		hidden;
				//text-overflow: ellipsis;
			}
			
			>div {
				font-size: 6px;
			}
}
.panel.flip .front {
			z-index: 900;
			border-color: #eee;

			-webkit-transform: rotateY(180deg);

}

.panel .back {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 800;
			width: inherit;
			height: inherit;
			border: 1px solid #ccc;
			background: white;
		

			-webkit-transform: rotateY(-180deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			
			transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			
			textarea {
				width:	100%;
				height:	100%;
				border:	none;
				font-family:	Georgia, serif;
				background-color:	$base3;
				outline:	none !important;
			}
}

.panel.flip .back {
			z-index: 1000;

			-webkit-transform: rotateY(0deg);
			
}


.ui-effects-transfer { border: 2px dotted $blue; }

.ui-state-highlight2 {
    border: 1px dotted blueviolet !important;
}
.ui-state-highlight3 {
    border: 1px dotted red !important;
    background-color: red !important;
    opacity:    1 !important;
}

.ui-resizable-handle {
	opacity: .5;
}



#deck canvas {
    z-index: 1000;
}


/////

@import "partials/helpers";
@import "partials/responsive";
@import "partials/print";