@import "compass/css3";

$mercury:	rgb(235,235,235);

@import "partials/solarized";

// split: https://github.com/darktable/html5-boilerplate/commit/b125225228a42a046930dc8c7e1861ef3b8acc14 
@import "partials/normalize";
@import "partials/isotope";
@import "partials/primary";

///


$headerHeight:	62px;

body {	
	>header {
		@include single-box-shadow; 		
		
		position:	fixed;
		z-index:	1024;
		
		height:		$headerHeight;
		width:		100%;
		
		padding:	0 22px;
				
		background-color:	rgba(0, 0, 0, .9);
		border:	1px solid	transparent;
		
		h1 {
			font-weight:	normal;
			color:			$mercury;
		}
	}
	>footer {
		position:	fixed;
		right:	0;
		bottom:	0;
	}
}

#page {
	padding-top: $headerHeight;
}

#deck {
	margin:	16px 16px 0 16px;
	
	> div {
//		@include transition-property(all);
//		@include box-shadow(#ccc 0px 0px 10px);
//		background-color:	white;
//		opacity:			.8 !important;
		
		width: 210px;
		height: 210px;
		margin: 5px;
		float: left;
//		overflow: hidden;
		position: relative;
		
//		&:hover {
//			@include box-shadow(#aab 0px 0px 10px);
//			opacity:	1 !important;
//		}
			
		>* {
			position: absolute;
			margin: 0;
		}
		
		article {
			padding:	5px;
			width:		100%;
			h1 {
				margin:		0;
				padding:	0;
				font-size:	16px;
				font-weight:	normal;
				font-family:	Georgia, 'Times New Roman', serif;
			}
		}
	}
}

///// http://css3playground.com/flip-card.php

.panel {
	-webkit-perspective: 600;
}

.panel .front {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 900;
			width: inherit;
			height: inherit;
			border: 1px solid #ccc;
			background: white;
			text-align: center;

			/*box-shadow: 0 1px 5px rgba(0,0,0,0.9);
			-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
			-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);*/

			-webkit-transform: rotateY(0deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			/* -- transition is the magic sauce for animation -- */
			transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
		}
		.panel.flip .front {
			z-index: 900;
			border-color: #eee;

			-webkit-transform: rotateY(180deg);

			/*box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);*/
		}

		.panel .back {
			float: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 800;
			width: inherit;
			height: inherit;
			border: 1px solid #ccc;
			background: white;
			/*text-shadow: 1px  1px 1px rgba(0,0,0,0.6); */

			-webkit-transform: rotateY(-180deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;

			/* -- transition is the magic sauce for animation -- */
			transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
		}

		.panel.flip .back {
			z-index: 1000;

			-webkit-transform: rotateY(0deg);
			/*box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);*/
		}


.ui-effects-transfer { border: 2px dotted $blue; }

/*.panel {
    border: 1px dotted yellow !important;
}*/
.ui-state-highlight2 {
    border: 1px dotted blueviolet !important;
}
.ui-state-highlight3 {
    border: 1px dotted red !important;
    background-color: red !important;
    opacity:    1 !important;
}
#deck canvas {
    z-index: 1000;
}


/////

@import "partials/helpers";
@import "partials/responsive";
@import "partials/print";