/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 16, ../WEB-INF/sass/partials/normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 17, ../WEB-INF/sass/partials/normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 18, ../WEB-INF/sass/partials/normalize.scss */
audio:not([controls]) {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 35, ../WEB-INF/sass/partials/normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 37, ../WEB-INF/sass/partials/normalize.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 39, ../WEB-INF/sass/partials/normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
/* line 50, ../WEB-INF/sass/partials/normalize.scss */
::-moz-selection {
  background: #002b36;
  text-shadow: none;
}

/* line 51, ../WEB-INF/sass/partials/normalize.scss */
::selection {
  background: #002b36;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 60, ../WEB-INF/sass/partials/normalize.scss */
a {
  color: #268bd2;
}

/* line 61, ../WEB-INF/sass/partials/normalize.scss */
a:visited {
  color: #6c71c4;
}

/* line 62, ../WEB-INF/sass/partials/normalize.scss */
a:focus {
  outline: 1px dotted white;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 65, ../WEB-INF/sass/partials/normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 72, ../WEB-INF/sass/partials/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 74, ../WEB-INF/sass/partials/normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 76, ../WEB-INF/sass/partials/normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 78, ../WEB-INF/sass/partials/normalize.scss */
dfn {
  font-style: italic;
}

/* line 80, ../WEB-INF/sass/partials/normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 82, ../WEB-INF/sass/partials/normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 84, ../WEB-INF/sass/partials/normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 87, ../WEB-INF/sass/partials/normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 90, ../WEB-INF/sass/partials/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 92, ../WEB-INF/sass/partials/normalize.scss */
q {
  quotes: none;
}

/* line 93, ../WEB-INF/sass/partials/normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 95, ../WEB-INF/sass/partials/normalize.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 98, ../WEB-INF/sass/partials/normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 99, ../WEB-INF/sass/partials/normalize.scss */
sup {
  top: -0.5em;
}

/* line 100, ../WEB-INF/sass/partials/normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 107, ../WEB-INF/sass/partials/normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 108, ../WEB-INF/sass/partials/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 109, ../WEB-INF/sass/partials/normalize.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
 */
/* line 121, ../WEB-INF/sass/partials/normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
/* line 127, ../WEB-INF/sass/partials/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 134, ../WEB-INF/sass/partials/normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 141, ../WEB-INF/sass/partials/normalize.scss */
form {
  margin: 0;
}

/* line 142, ../WEB-INF/sass/partials/normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 145, ../WEB-INF/sass/partials/normalize.scss */
label {
  cursor: pointer;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 152, ../WEB-INF/sass/partials/normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 160, ../WEB-INF/sass/partials/normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 167, ../WEB-INF/sass/partials/normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
/* line 173, ../WEB-INF/sass/partials/normalize.scss */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 180, ../WEB-INF/sass/partials/normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 186, ../WEB-INF/sass/partials/normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 187, ../WEB-INF/sass/partials/normalize.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
/* line 194, ../WEB-INF/sass/partials/normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
/* line 201, ../WEB-INF/sass/partials/normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 205, ../WEB-INF/sass/partials/normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 212, ../WEB-INF/sass/partials/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
/* line 5, ../WEB-INF/sass/partials/isotope.scss */
.isotope-item {
  z-index: 2;
}

/* line 9, ../WEB-INF/sass/partials/isotope.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 17, ../WEB-INF/sass/partials/isotope.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 23, ../WEB-INF/sass/partials/isotope.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

/* line 29, ../WEB-INF/sass/partials/isotope.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/* line 39, ../WEB-INF/sass/partials/isotope.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 50, ../WEB-INF/sass/partials/isotope.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/**** Isotope styles ****/
/* light is default mode, so pair with general html definition */
/* line 6, ../WEB-INF/sass/partials/primary.scss */
html, .light {
  background-color: #ebebeb;
  color: #657b83;
}
/* line 28, ../WEB-INF/sass/partials/solarized.scss */
html *, .light * {
  color: #657b83;
}
/* line 29, ../WEB-INF/sass/partials/solarized.scss */
html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #586e75;
  border-color: #657b83;
}

/* line 11, ../WEB-INF/sass/partials/primary.scss */
.dark {
  background-color: #002b36;
  color: #839496;
}
/* line 28, ../WEB-INF/sass/partials/solarized.scss */
.dark * {
  color: #839496;
}
/* line 29, ../WEB-INF/sass/partials/solarized.scss */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #93a1a1;
  border-color: #839496;
}

/* line 15, ../WEB-INF/sass/partials/primary.scss */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/* line 21, ../WEB-INF/sass/style.scss */
body > header {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  position: fixed;
  z-index: 1024;
  height: 62px;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid	transparent;
}
/* line 35, ../WEB-INF/sass/style.scss */
body > header h1 {
  position: absolute;
  top: 0;
  left: 22px;
  font-weight: normal;
  color: #ebebeb;
}
/* line 43, ../WEB-INF/sass/style.scss */
body > header #radio {
  position: absolute;
  top: 15px;
  right: 22px;
  font-size: 12px;
}
/* line 48, ../WEB-INF/sass/style.scss */
body > header #radio .ui-button-text {
  color: #ebebeb;
}
/* line 51, ../WEB-INF/sass/style.scss */
body > header #radio .ui-state-active .ui-button-text {
  color: white;
}
/* line 56, ../WEB-INF/sass/style.scss */
body > footer {
  position: fixed;
  right: 0;
  bottom: 0;
}
/* line 60, ../WEB-INF/sass/style.scss */
body > footer a {
  display: block;
  font-size: 10px;
  color: white;
  text-decoration: none;
  padding: 0 20px;
  opacity: .5;
}
/* line 68, ../WEB-INF/sass/style.scss */
body > footer a:hover, body > footer a:visited:hover {
  color: #268bd2;
  opacity: 1;
}
/* line 72, ../WEB-INF/sass/style.scss */
body > footer a:visited {
  color: white;
}

/* line 79, ../WEB-INF/sass/style.scss */
#page {
  padding-top: 62px;
}

/* line 83, ../WEB-INF/sass/style.scss */
.visual_search {
  margin: 20px;
}

/* line 87, ../WEB-INF/sass/style.scss */
#deck {
  margin: 16px 16px 0 16px;
}
/* line 90, ../WEB-INF/sass/style.scss */
#deck > div.panel {
  margin: 5px;
  float: left;
  position: relative;
}
/* line 97, ../WEB-INF/sass/style.scss */
#deck > div.panel > * {
  position: absolute;
  margin: 0;
}

/* line 118, ../WEB-INF/sass/style.scss */
#start {
  padding-top: 62px;
  display: none;
}
/* line 122, ../WEB-INF/sass/style.scss */
#start > div {
  position: relative;
  width: 80%;
  padding: 20px;
  margin: 50px auto auto auto;
  background-color: white;
  border: 1px solid #268bd2;
}
/* line 129, ../WEB-INF/sass/style.scss */
#start > div .ui-button-text {
  color: #ebebeb;
}
/* line 132, ../WEB-INF/sass/style.scss */
#start > div .ui-state-active .ui-button-text {
  color: white;
}
/* line 136, ../WEB-INF/sass/style.scss */
#start > div div.video {
  margin: auto;
  width: 400px;
}
/* line 140, ../WEB-INF/sass/style.scss */
#start > div iframe {
  margin: auto;
  width: 400px;
}
/* line 145, ../WEB-INF/sass/style.scss */
#start > div footer {
  position: relative;
  margin: 30px 0 10px 0;
  width: 100%;
}
/* line 150, ../WEB-INF/sass/style.scss */
#start > div footer > div.copy {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  position: absolute;
  top: 0;
  left: 0;
}
/* line 158, ../WEB-INF/sass/style.scss */
#start > div footer > div.text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 165, ../WEB-INF/sass/style.scss */
#start > div footer > a {
  position: absolute;
  top: 0;
  right: 1em;
  display: block;
  font-size: 10px;
  color: #268bd2;
  text-decoration: none;
}
/* line 177, ../WEB-INF/sass/style.scss */
#start > div footer > a:hover, #start > div footer > a:visited:hover {
  color: #268bd2;
}
/* line 181, ../WEB-INF/sass/style.scss */
#start > div footer > a:visited {
  color: #268bd2;
}

/* line 190, ../WEB-INF/sass/style.scss */
body.spaceid #radio, body.spaceid #page {
  display: none;
}
/* line 193, ../WEB-INF/sass/style.scss */
body.spaceid #start {
  display: block;
}

/* line 200, ../WEB-INF/sass/style.scss */
html.noScroll .panel, html.noScroll0 .panel {
  -webkit-perspective: none !important;
  -webkit-transform: none !important;
  -webkit-transform-style: flat !important;
  -webkit-backface-visibility: visible;
  -webkit-transition: none !important;
  /*width: 610px;
  height: 410px;
  .card {
  	height: 390px;
  }*/
}
/* line 213, ../WEB-INF/sass/style.scss */
html.noScroll .panel .front, html.noScroll0 .panel .front {
  display: block;
  -webkit-transform: none !important;
  -webkit-transform-style: flat !important;
  -webkit-backface-visibility: visible;
  -webkit-transition: none !important;
  overflow: scroll;
}
/* line 222, ../WEB-INF/sass/style.scss */
html.noScroll .panel.flip .front, html.noScroll0 .panel.flip .front {
  display: none;
  -webkit-transform: none !important;
}
/* line 226, ../WEB-INF/sass/style.scss */
html.noScroll .panel .back, html.noScroll0 .panel .back {
  display: none;
  -webkit-transform: none !important;
  -webkit-transform-style: flat !important;
  -webkit-backface-visibility: visible;
  -webkit-transition: none !important;
}
/* line 233, ../WEB-INF/sass/style.scss */
html.noScroll .panel.flip .back, html.noScroll0 .panel.flip .back {
  display: block;
  -webkit-transform: none !important;
}

/* line 239, ../WEB-INF/sass/style.scss */
.panel {
  -webkit-perspective: 600;
  width: 210px;
  height: 210px;
}
/* line 245, ../WEB-INF/sass/style.scss */
.panel .card {
  width: inherit;
  height: 190px;
}
/* line 251, ../WEB-INF/sass/style.scss */
.panel .meta {
  bottom: 0;
  right: 10px;
}
/* line 255, ../WEB-INF/sass/style.scss */
.panel a.link {
  display: block;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  padding: 2px;
  border: 1px solid #268bd2;
  background-color: white;
  color: #268bd2;
  text-decoration: none;
}
/* line 265, ../WEB-INF/sass/style.scss */
.panel a.link:hover {
  background-color: #268bd2;
  color: white;
}

/* line 273, ../WEB-INF/sass/style.scss */
.panel .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  overflow: scroll;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
/* line 297, ../WEB-INF/sass/style.scss */
.panel .front > img {
  width: 100%;
}
/* line 301, ../WEB-INF/sass/style.scss */
.panel .front > h1 {
  margin: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 1.2em;
}
/* line 313, ../WEB-INF/sass/style.scss */
.panel .front > div {
  font-size: 10px;
  padding: 5px;
}

/* line 319, ../WEB-INF/sass/style.scss */
.panel.flip .front {
  z-index: 900;
  border-color: #eee;
  -webkit-transform: rotateY(180deg);
}

/* line 327, ../WEB-INF/sass/style.scss */
.panel .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
/* line 348, ../WEB-INF/sass/style.scss */
.panel .back textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: Georgia, serif;
  background-color: #fdf6e3;
  outline: none !important;
}

/* line 358, ../WEB-INF/sass/style.scss */
.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateY(0deg);
}

/* line 366, ../WEB-INF/sass/style.scss */
.ui-effects-transfer {
  border: 2px dotted #268bd2;
}

/* line 368, ../WEB-INF/sass/style.scss */
.ui-state-highlight2 {
  border: 1px dotted blueviolet !important;
}

/* line 371, ../WEB-INF/sass/style.scss */
.ui-state-highlight3 {
  border: 1px dotted red !important;
  background-color: red !important;
  opacity: 1 !important;
}

/* line 377, ../WEB-INF/sass/style.scss */
.ui-resizable-handle {
  opacity: .5;
}

/* line 383, ../WEB-INF/sass/style.scss */
#deck canvas {
  z-index: 1000;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 7, ../WEB-INF/sass/partials/helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 8, ../WEB-INF/sass/partials/helpers.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 12, ../WEB-INF/sass/partials/helpers.scss */
[hidden] {
  display: none;
  visibility: hidden;
}

/* line 13, ../WEB-INF/sass/partials/helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 17, ../WEB-INF/sass/partials/helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 20, ../WEB-INF/sass/partials/helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 23, ../WEB-INF/sass/partials/helpers.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 26, ../WEB-INF/sass/partials/helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 27, ../WEB-INF/sass/partials/helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 28, ../WEB-INF/sass/partials/helpers.scss */
.clearfix {
  zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
/* 

Hardboiled CSS3 Media Queries by Andy Clarke:
http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/

Author: Andy Clarke
Web site: http://stuffandnonsense.co.uk
Twitter: http://twitter.com/malarkey

Hardboiled Web Design
Web site: http://hardboiledwebdesign.com
Twitter: http://twitter.com/itshardboiled

Version date : 30th September 2010
Version: 0.9

License: Creative Commons CC Zero Declaration. No Rights Reserved.

*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}
/* iPhone 4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 7, ../WEB-INF/sass/partials/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 8, ../WEB-INF/sass/partials/print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 9, ../WEB-INF/sass/partials/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 10, ../WEB-INF/sass/partials/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 11, ../WEB-INF/sass/partials/print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 12, ../WEB-INF/sass/partials/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 13, ../WEB-INF/sass/partials/print.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 14, ../WEB-INF/sass/partials/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 15, ../WEB-INF/sass/partials/print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 17, ../WEB-INF/sass/partials/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 18, ../WEB-INF/sass/partials/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
